
.toDoTask {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    }
.todoList{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 10px #888888;
}
