
.toDoTask {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    }
.todoList{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content{
    display: flex;
}
.deleteBtn{
    padding-left: 13rem
}
img{
    width: 9rem;
    height: 8rem;
}